body > header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  margin: 0;
  z-index: -1;
  //background: $header-bg;
  background-image: url(/images/bg.jpg);
  background-repeat: repeat;
  background-position: center bottom;
  background-size: cover;

  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title-color;
      text-shadow: $title-shadow;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    text-shadow: $subtitle-shadow;
    font-weight: normal;
  }
}
